body{
	background-image:url(cream_pixels.fw.png);
	font-family: 'Roboto', sans-serif;
	width: 980px;
	margin: 0 auto;
	padding-top: 10px;

}
.full-content{
	width: 980px;
	margin: 0 auto;
	background-color:#ffffff;

}
.headtop-img{
	width: 100%;
	background-image: url(top_blue_bg.jpg);
	background-repeat: repeat-x;
	height: 12px;	
}
.head-img{
	width: 100%;
	background-image: url(header_image.jpg);
	background-repeat: no-repeat;
	height: 218px;
}
.nav{
	width: 100%;
	background-color:  #FFBF00;
	height: 60px;
}
.nav ul li a {
	float: left;
	text-decoration: none;
	color:  #000000;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	padding: 7px 15px;
	display: block;
}
.nav ul a:hover{
	background-color: #00AEC3;
}
.headbtm-img{
	width: 100%;
	background-image: url(bottom_blue_bg.jpg);
	background-repeat: repeat-x;
	height: 15px;
}
.full-center-content{
	padding: 35px;
	font-size: 13px;
	text-align: justify;
}
.center-content1 h1{
	padding-bottom: 15px;
	font-size: 17px;
	font-weight: bold;
}
.center-content1 p{
	padding-bottom: 15px;
}
.center-content1 h2{
	padding-bottom: 15px;
	border-bottom: 1px #929292 dotted;
}

.center-content2 h3{
	padding-top: 40px;
	padding-bottom: 15px;
	font-size: 17px;
	font-weight: bold;
	
}
.center-content2 p a{
	color: #DA251D;
}
footer{
	width: 100%;
	height: 60px;
	background-color:  #FFBF00;
}
footer p{
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	padding-top: 25px;
}
footer p a{
	color: #DA251D;
}